 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.w40 {
    width: 40%;
}

.vinteecinco {
    max-width: 25%;
}

.phytocare {
    background-color: black;
}

.banner {
    width: 100%;
    height: 2160px;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
}

.logo img {
    width: 150px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 200px;
}

nav.desktop ul {
    list-style-type: none;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

nav.desktop li {
    font-size: 15px;
    padding: 0 40px;
    display: inline-block;
    color: black;
}

nav.desktop a {
    text-decoration: none;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
    font-weight: 500;
}

.active {
    color: white !important;
}

.mobile {
    display: none;
}
.fa-bars{
    display: none;
    margin-bottom: 250px;

}


.fra{
    width: 98%;
    max-width: 800px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.fra h2 {
    color: #F2F2F2;
    font-size: 50px;
    text-align: center;
    font-weight: 3000;
}

.fra h3 {
    text-align: center;
    font-size: 30px;
    color: #7DA491;
}

.more h4 {
    max-width: 205px;
    padding: 5px 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.more h4 i {
    width: 10px;
}

.welcome {
    margin-left: 50%;
    margin-top: 240px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    max-width: 700px;
}

.welcome h2 {
    color: white;
    text-align: center;
}

.linha {
    position: relative;
    width: 100px;
    border-radius: 2.5px;
    height: 5px;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2A341;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.welcome p {
    color: white;
    text-align: center;
}

.resumos {
    margin-left: 10%;
    margin-top: 60px;
}

.resums {
    cursor: pointer;
    width: 18%;
    min-height: 330px;
    display: inline-block;
    vertical-align: middle;
    margin: 30px;
    border-radius: 15px;
    background-color: #002412;
    padding: 10px 10px;
}

.resums i {
    margin-top: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    color: #F2A341;
}

.resums h2 {
    margin-top: 15px;
    text-align: center;
    color: #7DA491;
}

.resums h3 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    text-align: center;
    color: #7DA491;
    margin-bottom: 15px;
}


/* -------------------------------------------------------------------------------- */

.container {
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    display: block;
    margin: 10px 50%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    padding: 30px 30px;
}

.um {
    opacity: 1;
}

.titulo h2 {
    text-align: center;
    color: white;
    font-size: 22px;
}

.about {
    max-width: 700px;
    margin: 20px auto;
    text-align: justify;
    color: white;
    line-height: 50px;
    font-size: 18px;
}

.names-directories {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 70%;
    max-height: 30px;
    border-radius: 15px;
    background-color: #F2A341;
    padding: 2px;
}

.names-directories span {
    text-align: center;
    font-size: 20px;
    width: 250px;
    padding: 0 20px;
    font-weight: bold;
    border-right: 1px solid black;
    color: white;
    cursor: pointer;
}

.names-directories .last {
    border-right: none !important;
}

.directories {
    width: 100%;
    position: absolute;
    top: 1400px;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.directories h2 {
    text-align: center;
    color: white;
}


/*FOOTER--------------------------------------------*/

.back-to-top-button {
    width: 100%;
    height: 10px;
    background-color: black;
    text-align: center;
    overflow: hidden;
    font-size: 13px;
    cursor: pointer;
    z-index: 2;
}

.back-to-top-button p {
    color: white;
    position: relative;
    top: -3px;
}

.formulario {
    padding: 30px 0;
    z-index: 1;
    position: relative;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: linear-gradient(135deg, #016533, #01120a);
    box-shadow: 10px 10px 20px black;
}

.input-box {
    margin-top: 10px;
}

.form {
    justify-content: center;
    margin: 20px;
    width: 100%;
    display: flex;
}

.dados {
    width: 40%;
    margin-top: 20px;
}

.form span {
    font-weight: bold;
    font-size: 20px;
}

.dados input {
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: transparent;
}

.bottom input {
    float: left;
    background-color: rgb(20, 20, 20);
    width: 200px;
    height: 70px;
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #016533;
    cursor: pointer;
}

.input-box {
    margin: 20px 10%;
}

.mensage {
    width: 40%;
    margin-top: 20px;
}

.mensage textarea {
    background: transparent;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 260px;
    resize: none;
    border-radius: 10px;
}

.line {
    margin: 20px auto;
    width: 98%;
    height: 2px;
    background-color: rgb(20, 20, 20);
}

footer {
    width: 100%;
    background-color: #F2A341;
    padding: 30px;
}

footer .fdiv {
    width: 33%;
    text-decoration: none;
    display: inline-block;
}

.fdiv .text {
    margin: 0 auto;
    max-width: 350px;
}

.fdiv ul {
    list-style-type: none;
}

.fdiv a {
    text-decoration: none;
    color: black;
}

.redes i {
    margin: 5px 10px;
    font-size: 20px;
}

footer img {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 30px;
    margin-top: -100px;
}


/*ANIMAÇÕES-------------------*/

nav.desktop a:hover {
    color: white !important;
    border-bottom: 1px solid white;
    transition-duration: 1s;
    transition-property: border-bottom, color;
}

.back-to-top-button:hover {
    height: auto;
    position: absolute;
    font-size: 15px;
    padding: 7px;
    transition-duration: 1s;
}



/*responsivo*/
@media screen and (max-width: 1220px){
    .logo img{
        float: right;
        right: 50px;
    }

    nav.desktop{
        display: none;
    }

    .fa-bars{   
        display: block;
        padding: 30px;
        cursor: pointer;
    }
    .fa-xmark{
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
    }
    nav.mobile{
        background-color: #F2A341;
        display: inline-block;
        position: absolute;
        width: 100%;
    }
    nav.mobile li{
        list-style-type: none;
        border-bottom: 1px solid black;
        padding: 5px 0;
        text-align: center;
        vertical-align: middle;
    }
    .mobile a{
        text-decoration: none;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
}